:root{
  --main-font: "Rubik","Arial",sans-serif;
  --main-font-color: #242A45;
  --main-font-opacity: rgba(36, 42, 69, 0.5);
  --main-accent-color: #5267DF;
  --main-danger-color: #FA5959;
  --main-light-color: #fff;
  --main-grey-color : #9194A2;
  --main-border-radius: 5px;
  --main-box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  --main-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, opacity 0.3s ease;

}


@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  height: 100%;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  background-color: var(--main-light-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

}

.container{
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

}


/* SITE-HEADER */

.site__header {
  padding-top: 45px;
  padding-bottom: 45px;
}

.site__header__container {
  display: flex;
  align-items: center;

}
/* LOGO */
.logo {
  margin-right: auto;
  transition: var(--main-transition);
}

.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.logo__img {
  display: block;
}

/* SITENAV */


.sitenav__list {
  display: flex;
  list-style: none;

}

.sitenav__item:not(:last-child){
  margin-right: 46px;
}
.sitenav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: var(--main-font-color);
  transition: var(--main-transition);
}

.sitenav__link:hover{
  color: var(--main-danger-color);
}

.sitenav__link:active{
  opacity: 0.6;
}

.login__link{
  padding: 12px 33px;
  font-weight: 500;
  border: 2px solid var(--main-danger-color);
  color: var(--main-light-color);
  background-color: var(--main-danger-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);

}

.login__link:hover{
  background-color: transparent;
}

.login__link:active{
  background-color: var(--main-danger-color);
  opacity: 0.6;
  color: var(--main-light-color);
}


/* MAIN CONTENT */
.site__content{
  flex-grow: 1;
}


/* HERO */

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-light-color);
  background-image: url("../img/hero-bg.png");
  background-size: 1154px 485px;
  background-repeat: no-repeat;
  background-position: calc(50% + 650px) center;
}


.hero__desc {
  width: 540px;

}

.hero__heading {
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: var(--main-font-color);
}

.hero__info {
  margin-top: 0;
  margin-bottom: 32px;
}


/* HERO LINK */

.hero__link{
  display: inline-block;
  background-color: #f7f7f7;
  border-radius: var(--main-border-radius);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  background: var(--main-light-color);
  border: 2px solid transparent;
  padding: 10px 24px;
}

.hero-link-chrome{
  background-color: var(--main-accent-color);
  color: var(--main-light-color);
  box-shadow: var(--main-box-shadow);
  border-color: var(--main-accent-color);
  margin-right: 16px;
  transition: var(--main-transition);
}

.hero-link-chrome:hover{
  color: var(--main-accent-color);
  border-color: var(--main-accent-color);
  background-color: var(--main-light-color);
}
.hero-link-chrome:active{
  opacity: 0.6;
  background-color: var(--main-accent-color);
  color: var(--main-light-color);
}

.hero-link-fire-fox{
  background-color: #f7f7f7;
  border-color: transparent;
  box-shadow: var(--main-box-shadow);
  color: rgba(36, 42, 69, 0.7);
  transition: var(--main-transition);


}

.hero-link-fire-fox:hover{
  background-color: transparent;
  border-color: rgba(36, 42, 69, 0.7);

}

.hero-link-fire-fox:active{
  opacity: 0.6;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: rgba(36, 42, 69, 0.7);
}

/* FEATURES SECTION */
.feaures-seciton {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-light-color);


}

.feaures-seciton-container {}

.feaures-seciton-desc {
  width: 540px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feaures-seciton-heading {}

.feaures-seciton-info {
  margin-bottom: 72px;
}


.features-list{
  width: 730px;
  padding: 0;
  margin: 0;
  margin-bottom: 72px;
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}


.features-item{
  padding: 30px 50px;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.533333px;
}

.features-item:first-child{
  border-bottom-color: var(--main-danger-color);
}




/* REPEATED STYLE  */
.section-heading{
  margin-top: 0px;
  margin-bottom: 16px;
}
.section-info {
  font-size: 18px;
  line-height: 28px;
  color: var(--main-font-opacity);
}


